body {
	background-image: url(../images/bg.png);
}

ul li {
	float: left;
	width: 100px;
	display: inline;
}

/*ul li a{
	float: left;
	width: 100px;
	display: inline;
}*/

img:hover{
	background-image: url(../images/hover_button.png);
}

ul li a {
	text-decoration: none;
}

ul li {
	display: none;
	text-decoration: none;
	list-style: none;
}
