body {
	background-image: url(../images/bg.png);
}

ul li {
	float: left;
	width: 100px;
	display: inline;
}

.button-group img:hover{
	background-image: url(../images/hover_button.png);
}

ul li a {
	text-decoration: none;
}

ul li {
	display: none;
	text-decoration: none;
	list-style: none;
}

#logo {
	padding-top: 49px;
}

#acct {
	padding-top: 65px;
	padding-right: 110px;
	float: right;
}

#logo, #acct {
	padding-bottom: 20px;
}
